@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400;1,500&display=swap');
:root{
    --color:#6C5CE7; 
   /* --color:#407BFF; */
}

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-transform: capitalize;
   transition: all .2s linear;
   text-decoration: none;
}

html{
   font-size: 62,5%;

}
.header {
    background: linear-gradient(black,var(--color));
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}
.drop li {
    display: none;
    float: none;
}

.navbar li:hover .drop li {
    display: block;
}


.header .logo{
    font-size: 2.5rem;
    color: #fff;
}



.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around ;
}

.header .navbar ul li{
    margin: 0 1.5rem;
}

.header .navbar ul li a{
    font-size: 1rem;
    color: #fff;
}

.header .navbar ul li a:hover{
    color: #ccc;
}



.header .fa-bars{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}
.heading {
    margin: 2rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--color);
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-top: 0.5rem solid var(--color);
    border-left: 0.5rem solid var(--color);
}

.heading::before {
    top: 5.8rem;
    left: -1rem;
}

.heading::after {
    bottom: -0.3rem;
    right: -1rem;
    transform: rotate(180deg);
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 50px;
    padding: 5px;
    gap: 20px;
}

.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

.card-list .card-item:hover {
    border: 2px solid #000;
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .developer {
    background-color: #F7DFF5; 
    color: #B22485;
}   

.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .editor {
    background-color: #d6f8d6; 
    color: #205c20;
}

.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff; 
}